:root{
    --primary: #303030;
    --secondary: #d3d3d3;

    background: var(--primary);
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    padding-right: 40px;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    border-radius: 8px;
    display: flex;
    gap: 2px;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}


#navbar input[type="number"] {
    width: 50px;
    padding: 10px;
}

#range {
    width: 120px !important;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#render-btn {
    background: #09f;
    border: none;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

#wipe-btn {
    background: #ff6600;
    border: none;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

button { transition: 0.2s; }

button:active {
    transform: scale(0.95);
}

#render-btn, #wipe-btn{
    height: 40px;
}

#canvas {
    background: var(--primary);
}

.input-holder {
    display: flex;
}

.range-holder {
    display: flex;
    align-items: center;
}